{% extends 'Templchercheur/mainchr.html' %}
{% load static %}
{% block body_block %}



<div class="wrapper">
    <div class="page">



      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              
              <div class="card card-register"  style="
  background-color:#1b397b;" >
                <div class="card-header">
                  <img class="card-img" src="{% static 'G-Admin_cherch_eval/img/square1.png' %}" alt="Card image">


                </div>


                <div class="card-body" style="width: 800px">
                  <form class="form" method="post" enctype="multipart/form-data">
                   
                    {% csrf_token %}

                    <div class="input-group" >
                      <div class="input-group-prepend"  style="padding-right:5px" >
                        <div class="input-group-text" style="width:60px">
                          <i class="tim-icons icon-badge"></i>
                        </div>
                      </div>

                      {{formset.name}}

                    </div>
                        <div class="">
                      <h5> <b>Summary:</b>
</h5>
                      {{formset.description | safe}}
                      <br>
                      <h5> <b>
Keywords :</b></h5>
                       {{formset.Mots_Cleé}}
                       <br>
                      {{formset.media}}
                    </div>


                      <div class="">
                          <h5> <b> DOCUMENT CURRENTLY</b> </h5>
                     {{formset.document}}
                    <h5> Click To  Choose File</h5>
                              </div>
                    

                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                        I agree to the
                        <a href="javascript:void(0)">terms and conditions</a>.
                      </label>
<br>
                           <input class="btn btn-info" type="submit" name="Submit">
                  </div>
                    </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


  
{% endblock %}