
{% extends 'Templchercheur/mainchr.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block body_block %}
<head>
	<title>my note</title>
</head>
<body>
<br>
  <div class="wrapper">
    <div class="page">

      <img src="{% static 'G-Admin_cherch_eval/img/path1.png' %}"
             class="path">
<br>
         <div class="content" style="margin-left:20%">
        <div class="row">
          <div class=" col-md-12 ml-auto mr-auto">
            <div class="card card-upgrade " style="padding: 15px;
  background-color:#1b397b;">
              <div class="card-header text-center" style="padding: 15px;
  background-color:#1b397b;">
                <h4 class="card-title" style="padding: 15px;
  background-color:#1b397b;">List of my notes  </h4>
                  <p class="card-category text-center">
This list represents the notes written by me to remind me</p>
              </div>

              <div class="card-body" style="padding: 15px;
  background-color:#1b397b;">

                <div class="col-sm-6">

                </div>

{% for td in user.todolist.all %}
<h5> Note : <p><a href="/{{td.id}}">{{td.name}}</a> </p></h5>
<br>


{% endfor %}
                   <a type="submit", class="btn btn-info" href="{% url 'LoginByProfile' %}" >
         Back to Profile   </a>

</div>

            </div>
          </div>
        </div>
         </div>
    </div>
  </div>
</body>


{% endblock %}