{% extends 'accounts/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Create Comité de programme </h5>
              </div>
            
              <div class="card-body">




<script>




  function DEL(o) {
        var p=o.parentNode.parentNode;
         p.parentNode.removeChild(p);
         
         
     var amount  = document.getElementById("amount").value ;
     amount = parseInt(amount, 10) ;
     amount = amount - 1 ;
     document.getElementById("amount").value = amount ;
   }
     
    function addRow(tableID) {

 
     var amount  = document.getElementById("amount").value ;
     amount = parseInt(amount, 10) ;
     amount = amount + 1 ;
     document.getElementById("amount").value = amount ;
     
     
     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     var row = table.insertRow(rowCount);
     var colCount = table.rows[0].cells.length;
     
     var cell1 = row.insertCell(0);
     cell1.id = rowCount +'0' ;
     cell1.style.width = '120' ;
     cell1.innerHTML = '<input placeholder="first Name" type="text" name=\"'+ rowCount +'0' +'\" size="10"  id="first" required >';
     
     var cell2 = row.insertCell(1);
     cell2.style.width = '120' ;
     cell2.innerHTML = '<input placeholder="family Name" type="text" name=\"' +rowCount +'1' +'\" size="10"  id="family" required >';
     
     
     
     var cell3 = row.insertCell(2);
     cell3.style.width = '120' ;
     cell3.innerHTML = '<input placeholder="ID number" Name" type="text" name=\"' +rowCount +'2' +'\" size="10" id="IDnumber"  required >';
     
     
     
     
     var cell4 = row.insertCell(3);
     cell4.style.width = '220' ;
     cell4.innerHTML = '<input placeholder="email" type="email" name=\"' +rowCount +'3'+ '\" size="20"  id="email" required >';
     
     var cell5 = row.insertCell(4);
     cell5.style.width = '180' ;
     cell5.innerHTML =  '<input placeholder="number" type="number" name=\"'+ rowCount +'4' +'\" size="9"  id="number" required >';
     
     
     var cell6 = row.insertCell(5);
     cell6.style.width = '120' ;
     cell6.innerHTML = '<input placeholder="country" Name" type="text" name=\"' +rowCount +'5' +'\" size="10" id="country" required >';
     
     var cell7 = row.insertCell(6);
     cell7.style.width = '120' ;
     cell7.innerHTML = '<input placeholder="city" Name" type="text" name=\"' +rowCount +'6' +'\" size="10" id="city"  required >';

     var cell8 = row.insertCell(7);
     cell8.style.width = '120' ;
     cell8.innerHTML = '<input placeholder="postal_code" Name" type="text" name=\"' +rowCount +'7' +'\" size="10" id="postal_code"  required >';


     var cell9 = row.insertCell(8);
     cell9.style.width = '120' ;
     cell9.innerHTML = '<input placeholder="organization" Name" type="text" name=\"' +rowCount +'8' +'\" size="10" id="organization"  required >';
     
     
     
    
     var deleterow = row.insertCell(9);
     deleterow.style.width= '30' ;
     deleterow.cssText= ' text-align:center';
     deleterow.innerHTML = '<button onclick = "DEL(this)>Delete;return false">x</button>' ;
     

} 
</script>



<form method='POST'>

<button type ="button" onclick="addRow('dataTable2') ;" >add</button>
<table id="dataTable2">
    <tbody>


    </tbody>
</table>
     




















 









              
                     







<table id="dataTable3">
    <tbody> <h4><b>...............................................................LIST OF EVALUATEURS...............................................................</b></h4>

      <input type="number" id="amount" name="amount" value="0" readonly><br><br>

    </tbody>
</table>















                        <div class="col-sm-6">        
                        <h2> Le chairmain de cette comite pour cette conferance : {{charmain}}</h2>                          
                             <h3  style="color:blue;">avant de creer une conferance il faut creer le comité d'abord !</h3>     
                         </div>
                  {% csrf_token %}




                  <h3 style="color:blue;"> pas Oblege ,  On cas ou il oblege add un evaluateur ou bien add dircte comme (help) </h3>

                  {{ form.evaluteur_list|as_crispy_field}}

                  <br>
                  {{ form.Name|as_crispy_field}}
                  <br>
                  {{ form.email|as_crispy_field}}
                  <br>
                  {{ form.Organizationof_Commite|as_crispy_field}}
                  <br>
                  {{ form.autre_Info|as_crispy_field}}
                  <br>
                  <br>



    


</div>

              <div class="card-footer">
                <a class="btn btn-warning" href="{% url 'confCreate' %}">Cancel</a>  
            
              <button type ="submit"  > Create & send email  </button>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>

              </div>



            </div>
          </div>
         
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>

          
      </ul>
    </div>
  </div>

{% endblock %}